@import "tailwindcss";

:root {
  --foreground: #171717;
}

@theme inline {
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #fafafa !important;
  }
}

/* Gradient animation */
@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

body {
  background: linear-gradient(to right, #E0AAFF, #90E0EF);
  background-size: 200% 100%;
  animation: gradientAnimation 4s infinite linear;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Dark mode gradient */
@media (prefers-color-scheme: dark) {
  body {
    background: linear-gradient(to right, #5A189A, #023E8A);
    background-size: 200% 100%;
    animation: gradientAnimation 4s infinite linear;
  }
}
